*.o
*.debhelper
debian/mvrpd-fem
debian/files
.deps
.dirstamp
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
debian/mvrpd-fem.debhelper.log
debian/mvrpd-fem.substvars
depcomp
mvrpd
install-sh
missing
stamp-h1
autom4te.cache
*~
coverage.info
*.gcda
*.gcno
test-vlan0
out-test-coverage
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
